@import '../../../sharedscss/variables.scss';
@import '../../../../styles.scss';
.inventario-page{
  // background: rgba(65, 67,71, 0.4);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
}
.page1{
  background-image:linear-gradient(rgba(65, 67,71,0.3),rgba(65, 67,71, 0.3)),url('../../../../assets/images/inventario.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
}
.inventario-info{
  margin: 0 10px;
  height: 40vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
.inventario-infoTitle{
  font-family: Circular-Bold;
  font-size: 2.5em;
  color: $third-color;
}
.inventario-infoDescription{
  font-family: Circular-Bold;
  font-size: 1.2em;
  color: #fdcf;
  max-width: 70vw;
  text-align: justify;
}
.areas-especializadas{
  background-image:url('../../../../assets/images/wave.svg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 50vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.areas-especializadasTitle{

  font-family: Circular-Bold;
  font-size: 2em;
  color: $third-color;
  margin-bottom: 40px;
}
.areas-especializadasCategory{
  display: flex;
  gap: 30px;
  font-family: Circular-Bold;
}
.category-link{
  text-decoration: none;
  color:$third-color;
  border: 2px solid $primary-color;
  border-radius: 100px;
  padding: 8px 20px;
}
.category-link:hover{
  background-color: $primary-color;
}
.auditoria-infoDescription{

}
.auditoria-infoTitle{
}
.inventario-products{
  margin-top: 5vh;
}

