$primary-color:rgba(228, 161, 13);
$btn-colo-hover:rgba(200, 140, 13);
$wave-color:#48a8bc;
$secondary-color:rgba(145, 142,149);
$third-color:rgba(254, 252,251);
$card-background-color:rgba(65, 67,71,0.71);
// $back-ground-color: rgba(85, 82,71,0.8);

