<div ngClass="outsourcing-page">
  <div ngClass="page1">

    <app-nav-bar ngClass="app-nav-bar"></app-nav-bar>
    <div ngClass="outsourcing-info">
      <h2 ngClass="outsourcing-infoTitle">Outsorucing</h2>
      <h2 ngClass="outsourcing-infoDescription">Una auditoría es un análisis hecho por un profesional o grupo de profesionales calificados cuyo resultado permite reflejar la imagen contable, tributaria y/o laboral. Las auditorías también hacen posible conocer la imagen real del ambiente de control interno de una empresa. Es por eso que mediante el servicio de auditoría se evalúan de manera objetiva las evidencias, políticas y procedimientos de una organización o empresa.</h2>
    </div>
    <div ngClass="areas-especializadas">
      <p ngClass="areas-especializadasTitle">Nuestras areas especializadas</p>
      <div ngClass="areas-especializadasCategory">
        <ng-template ngFor let-outsourcing [ngForOf]="productOutsourcing" let-i = "index">
          <a routerLink="/outsourcing" fragment="outsorucing-service-{{i}}" ngClass="category-link">{{outsourcing.name}}</a>
        </ng-template>
      </div>

    </div>
  </div>
  <div ngClass="consultoria-products">

    <ng-template ngFor let-inventario [ngForOf]="productOutsourcing" let-i="index">
      <app-product-service-card [product]="inventario" [indice] ="i" id="outsorucing-service-{{i}}"></app-product-service-card>
    </ng-template>
  </div>
</div>
