@import "../../../sharedscss/variables.scss";
.card-product{
  // height: 100%;
  color: $secondary-color;
  background-color: $card-background-color;
  margin-left: 2px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
  padding: 10px;
  height: 100%;
  min-height: 18rem;
  // border: 2px solid blue;
  font-size: 16px;
}
.card-icon{
  width: 4rem;
  height: 4rem;
  // width: 48px;
  // height: 48px;
}
.card-productTitle{
  font-family: Circular-Bold;
  font-size: 1.5em;
  color: $third-color;
}
.card-productDescription{
  color: $secondary-color;
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 0.9em;
  font-style: normal;
  // overflow: hidden;
}
.btn-more{
  text-align: center;
  text-decoration: none;
  background-color: $primary-color;
  border: 1px solid $primary-color;
  color: $third-color;
  padding: 8px 20px;
  border-radius: 100px;
  width: 20vw;


}
.btn-more:hover{
  background-color: $btn-colo-hover;
}
