@import "../../sharedscss/variables.scss";
.nav-bar{
  height: 20vh;
  display: flex;
  justify-content:space-between;

}
.nav-bar-logo{
  height: 100%;
  width: 20%;
  display: flex;
}
.logo{
  width: 100%;
  align-self: center;
  height: 100%;
}
.nav-bar-content{
  display: flex;
  margin-right: 5%;
}
.nav-bar-list{
  display: flex;
  align-self: center;
  list-style: none;
  gap: 40px;
}
.nav-bar-listItem{
  padding: 8px 20px;
  border-radius: 100px;
  border: 1px solid $primary-color;
}
.nav-bar-listItem:hover{
  background-color: $primary-color;
  border: 1px solid $primary-color;
  color: $third-color;
}
.nav-bar-listItem a{
  text-decoration: none;
  font-family: Circular-Bold;
  font-size: 0.9em;
  color: $third-color;
}

@media (max-width: 500px) {
.nav-bar{
  border: 2px solid green;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.nav-bar-logo{
  border: 1px solid blue;
}
.logo{

}
}
