<div ngClass="card-product-service card-product-service-{{indice}}">
  <p ngClass="card-product-serviceTitle">
    {{product.name}}
  </p>
  <p ngClass="card-product-serviceTitleSecondary">¿Qué es?</p>
  <p ngClass="card-product-serviceDescription">
    {{product.description}}
  </p>
  <p ngClass="card-product-serviceTitleSecondary">¿Por que?</p>
  <p ngClass="card-product-serviceDescription">{{product.importancia}}</p>
  <p ngClass="card-product-serviceTitleSecondary">¿Que ofrecemos?</p>
  <p ngClass="card-product-serviceDescription">{{product.servicio}}</p>
</div>
