@import "../../../sharedscss/variables.scss";
@import "../../../sharedscss/normalize.scss";

.home-page{
  background-image:linear-gradient(rgba(65, 67,71,0.4),rgba(65, 67,71, 0.4)),url('../../../../assets/images/bacground-home-page.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  height: 100%;
}
.body-title{
  align-self: center;
  font-family: Circular-Bold;
  color: $third-color;
  font-size: 3.1rem ;
  margin: 0;
  flex-grow: 2;

}
.body-description{
  font-family: Circular-Bold;
  color: #363636;
  font-size: 1.2rem ;
  align-self: center;
  text-align: center;
  flex-grow: 2;
}
.products{
  display: flex;
  flex-grow: 1;
  // height: 20vh;
  justify-content: center;
  flex-wrap: wrap;
  border: 2px solid red;
  align-content: flex-end;
}
.product-item{
  flex-grow: 2;
  // border: 2px solid green;
  align-self: flex-end;
  width: 24vw;
  border: 2px solid yellow;
  height: 100%;

}

// @media (max-width: 500px){
//   .home-page{
//     border: 4px dotted aqua;
//   }
//   .app-nav-bar{
//     width: 100vw;
//   }
// }
