<div ngClass="contact-page">
  <app-nav-bar ngClass="app-nav-bar"></app-nav-bar>
  <div ngClass="contact-section">
    <div ngClass="contact-img">
    </div>
    <div ngClass="contact-info">
      <h2 ngClass="contact-title">Contactos</h2>
      <div ngClass="contact-content">
        <form action="" ngClass="contact-form">
          <label for="">FullName</label>
          <input type="text">
          <label for="">Email</label>
          <input type="text">
          <label for="">Mensaje</label>
          <button>Contactar</button>
        </form>
        <div ngClass="contact-redes">
          <p>email</p>
          <p>telefono</p>
          <p>redes</p>
        </div>
      </div>
    </div>
  </div>
</div>
